@use '@angular/material' as mat;
@use 'src/alimenticia-theme.scss' as app-theme;

:host {
  margin: 32px 0;
  .container {
   
    .row {
      margin: 32px 0;
      justify-content: center;
      flex-direction: column;
      .content {
        padding: 16px;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
     
        .resultado {
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;
          margin-top: 20px;
          padding: 10px;
          background-color: mat.get-color-from-palette(app-theme.$app-primary, 500);
          border-radius: 4px;
          text-align: center;
          span {
            font-size: 1.5rem;
            font-weight: 500;
            margin-right: 10px;
            flex-grow: 1;
            color: white;
          }
          button {
            padding: 0;
            width: auto;
          }
        }
      .form-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 16px;
      }
      @media screen and (min-width: 515px){
        .form-grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto auto;
          grid-template-areas: 
            "sexo edad"
            "peso altura"
            "actividadFisica actividadFisica";
          gap: 20px;
          justify-items: center;
          align-items: center;
        }
        mat-form-field {
          label {
            top: 34px;
            left: 8px;
          }
        }
        .form-grid > div:nth-child(1) { grid-area: sexo; }
        .form-grid > div:nth-child(2) { grid-area: edad; }
        .form-grid > div:nth-child(3) { grid-area: peso; }
        .form-grid > div:nth-child(4) { grid-area: altura; }
        .form-grid > div:nth-child(5) { grid-area: actividadFisica; }
        
        .form-grid > button {
          grid-column: 1 / span 2;
          justify-self: center;
        }  
      }
      }
    }
  } 
}