<!-- En change-password-dialog.html -->
<h1 mat-dialog-title>Cambiar contraseña</h1>
<div mat-dialog-content>.
    <form [formGroup]="changePasswordForm">
      <label>
        Contraseña actual
        <input type="password" name="oldPassword" [formControl]="oldPasswordControl" />
        <div
          class="loader"
          *ngIf="(oldPasswordControl.statusChanges | async) === 'PENDING'"
        >
          Comprobando...
        </div>
      </label>
      <app-form-error-container [forControl]="oldPasswordControl">
        <app-form-error-msg
          forErrorCode="checkValidOldPasword"
        ></app-form-error-msg>
      </app-form-error-container>
        <!-- <mat-form-field> -->
        <!-- <label>
            Contraseña
            <input type="password" name="oldPassword" formControlName="oldPasswordControl" />
          </label>
           <app-form-error-container [forControl]="oldPasswordControl">
            <app-form-error-msg forErrorCode="required"></app-form-error-msg>
          </app-form-error-container>

        <app-form-error-container [forControl]="oldPasswordControl">
          <app-form-error-msg
            forErrorCode="checkValidOldPasword" customMsg="La contraseña no es correcta"
          ></app-form-error-msg>
        </app-form-error-container> -->
        <!-- </mat-form-field> -->
        <label>
          Nueva contraseña
          <input type="password" name="password" formControlName="password" />
        </label>
        <app-form-error-container [forControl]="passwordControl">
          <app-form-error-msg forErrorCode="required"></app-form-error-msg>
        </app-form-error-container>

        <label>
          Repetir nueva contraseña
          <input type="password" name="password_confirm" formControlName="password_confirm" />
        </label>
        <app-form-error-container [forControl]="passwordConfirmControl">
          <app-form-error-msg forErrorCode="required"></app-form-error-msg>
          <app-form-error-msg forErrorCode="matchPassword" customMsg="Las contraseñas no coinciden"></app-form-error-msg>
        </app-form-error-container>
      
        <app-form-error-container [forControl]="changePasswordForm">
          <app-form-error-msg forErrorCode="invalidCredentials"></app-form-error-msg>
        </app-form-error-container>

        <app-form-error-container [forControl]="changePasswordForm">
          <app-form-error-msg
            forErrorCode="passwordsMustBeEqual"
          ></app-form-error-msg>
        </app-form-error-container>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onNoClick()">Cancelar</button>
  <button
  mat-flat-button
  color="primary"
  (click)="changePassword()"
  type="submit"
  [disabled]="(changePasswordForm.statusChanges | async) !== 'VALID'"
>
  Cambiar contraseña
</button>
  <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
</div>