<input type="text" [(ngModel)]="productName" placeholder="Nombre del producto">
<button (click)="searchProducts()">Buscar</button>

<div *ngIf="products.length > 0">
  <div *ngFor="let product of products">
    <div class="product-container">
      <img [src]="product.imageUrl" alt="Imagen del producto" class="product-img">
      <div class="product-info">
        <h3>{{ product.title }}</h3>
        <p>{{product.nutritionalInfo}}</p>
        <!-- Agrega otros detalles del producto aquí -->
        <!-- <button (click)="showNutritionalInfo(product)">Información Nutricional</button> -->
        <button (click)="loadAction(product)">Cargar Acción</button>
      </div>
    </div>
  </div>
</div>
