@use '@angular/material' as mat;
@use 'src/alimenticia-theme.scss' as app-theme;

.container {
  margin: 24px auto;
  .row {
    justify-content: center;
    margin: 0;
    form {
      width: 100%;
      .receta-detail__wrapper {
        width: 100%;
        margin: 1rem 0;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        .receta-detail{
          padding: 1rem;
          position: relative;
          mat-slide-toggle {
            margin: 8px 0;
            position: absolute;
            right: 0;
            top: 0;
          }
          .receta-detail__actions {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 16px;
            flex-direction: column;
            align-items: center;
            gap: 8px;
          }
          .receta-detail__content {
            display: flex;
            flex-wrap: wrap;
            mat-form-field {
              &:has(.ng-touched.ng-invalid:is(input, textarea), .ng-dirty.ng-invalid:is(input, textarea)){
                outline: 2px solid #f44336;
              }
              input {
               margin-bottom: 0;
              }
              .ng-touched.ng-invalid:is(input, textarea), .ng-dirty.ng-invalid:is(input, textarea) {
                outline: unset;
              }
            }
            mat-hint {
              font-size: small;
            }
            .receta-detail-content__image {          
              img {
                width: 100%;
              }
            }
            
            .receta-detail-content__fields {
              flex-wrap: wrap;
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: center;
              & > div {
                flex: 0 0 100%;
                display: flex;
                gap: 8px;
                align-items: center;
                margin: 8px 0;
                flex-wrap: wrap;
              }
              span {
                font-weight: bold;
                color: #333;
              }
              p {
                margin: 0;
                color: #666;
                line-height: 1.6;
              }
            }
          }

        
        }
        .receta-ingredientes {
          padding: 1rem;
          position: relative;
          .ingrediente-linea {
            display: flex;
            align-items: center;
            justify-content: space-between;  
            gap: 8px;  
            margin-bottom: 16px;
            flex-wrap: wrap;
            .ingrediente-content {              
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 8px;
              .producto-imagen {
                width: 64px;
                height: 64px;
                background-color: #d9dfe5;
                border-radius: 50%;
                padding: 2px;
              }
              .producto-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 1;
                .producto-content__title,.producto-content__precio{
                  span {
                    font-size: 16px;
                    line-height: 24px;
                    color: #424242;
                    font-weight: 600;
                    margin: 0;
                  }
                }
              }
            } 
          }
          .search {
            margin: 12px 0;
            form input{
              margin-right: 8px;
            }
          }
        
          .catalog-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            app-producto-listing {
              width: 200px;
              margin-bottom: 20px;
            }
            mat-card-actions, mat-divider{
              display: none;
            }
          }
        
          
        }
        .receta__pasos {

          padding: 16px;
          .receta-pasos__content{
            background-color: mat.get-color-from-palette(app-theme.$app-primary, 100);
            border: 2px solid mat.get-color-from-palette(app-theme.$app-accent, 500);
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 12px;
            margin-bottom: 12px;
            padding: 8px;
            .receta-pasos__paso {              
              display: flex;
              align-items: center;
              flex-grow: 1;
              mat-form-field {
                width: 100%;
              }
            }
            .receta-pasos__image {
              img {
                width: 100%;
                border-radius: 12px;
              }
            }
            .receta-pasos__actions {
              display: flex;
              justify-content: space-between;
              gap: 8px;
              width: 100%;
              input {
                flex-grow: 1;
                margin: 0;
              }
            }
          }
        }
      }
      button.add-paso {
        margin: 16px 0 16px 16px;
      }
    }
  }
}
@media (min-width: 768px) {
  .container {
    .row {
      form {
        width: 100%;
        .receta-detail__wrapper {
          .receta-detail{
            .receta-detail__content {
              align-items: stretch;
              flex-wrap: nowrap;
              .receta-detail-content__image {        
                flex: 0 0 65%;
                max-width: 65%;
                border-radius: 10px;
                object-fit: cover;
                margin-bottom: 0;              
                img {
                  width: 100%;
                }
              }
              .receta-detail-content__fields {
                flex: 0 0 35%;
                max-width: 35%;
                padding-left: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                & > div {
                  flex-direction: column;
                  margin: 0;
                  gap: 0;
                  align-items: flex-start;

                }
              }
            }          
          }
          .receta-ingredientes {
            .catalog-grid {
              justify-content: space-between;
            }     
          }
          .receta__pasos {
            .receta-pasos__content{
              .receta-pasos__image {
                max-width: 200px;
              }
            }
          }
        }
      }
    }
  }
} 