:host {

    .mat-mdc-dialog-content.mdc-dialog__content.dialog-wrapper {

        .dialog-header {
            display: flex;
            flex-direction: column;
            align-items: center;       
            text-align: center;
        }
        .dialog-supermercados {

            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            justify-content: space-around;
            .dialog-supermercados__super {
                border-radius: 12px;
                align-items: center;

                display: flex;
                flex-direction: column;
                padding: 12px;
                gap: 8px;
                .imagen-super {
                    img {
                        width: 150px;
                        height: 100px;
                    }
                    &.not-choiced {
                        filter: grayscale(100%);
                        &:hover {
                            filter: unset;
                        }
                    }
                }
                .info-super {
                    text-align: center;
                }
    
                
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); // Añade una sombra al hacer hover
    
                }
            }
        }
    }
       
}

@media screen and (min-width: 768px) {
    :host {
        .mat-mdc-dialog-content.mdc-dialog__content.dialog-wrapper {

            .dialog-supermercados {
                align-items: stretch;
                justify-content: center;
                flex-wrap: nowrap;
                .dialog-supermercados__super {
                    
                    width: 24%;
                    max-width: 230px;
                }
            }
        }
    }

    
}