:host {
  position: sticky;
  top: 0;
  z-index: 100;
  nav.navbar-expand-md {
    height: auto;
    position: sticky;
    .navbar-brand {
      margin-right: 0;
    }
      .navbar-collapse {
        justify-content: space-between;
      }
      .navbar-nav {
        margin-left: 0;
        width: 100%;
        .dropdown-menu {
          right: 0;
          left: unset;
          .dropdown-item:hover {
            cursor: pointer;
          }
        }
      }
  

    .user-row{
      display: flex;      
      align-items: flex-start;
      flex-direction: column;
      margin-top: 12px;
      justify-content: space-between;
      .super {
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 12px;
        img {
          height: 24px;
        }
        &:hover {
          cursor: pointer;
        }
        .cp {
          border-radius: 25px;
        }
      }
      .cart-icon {
        display: none;
        cursor: pointer;
        margin-right: 24px;

        &.cart-icon-mobile {
          display: block;
        }
      }
      .user-picture {
        border-radius: 50%;
      } 
      
    }

  }
}

@media screen and (min-width: 768px){
  :host {
    position: relative;
    nav.navbar-expand-md {
      position: relative;
      .navbar-brand {
        margin-right: 1rem;
      }
      .navbar-nav {
        margin-left: 1.5rem;
        width: auto;
      }
      .cart-icon-mobile {
        display: none;
      }
      .user-row {
        flex-direction: row;
        gap: 24px;
        align-items: center;
        .cart-icon {
          display: block;
          .cart {
            height: 36px;
            display: flex;
            align-items: center;
          }
        }       
        .super {
          img {
            height: 36px;
          }
        } 
      }
    }  
  }
}