<!-- recetas-listing.component.html -->
<div class="receta-card">
<mat-card>
  <mat-card-header>
    <!-- <div mat-card-avatar class="receta-header-image" [style.background-image]="'url('http://localhost:3000/' + receta.imagen + ')'"></div> -->
    <mat-card-title>{{ receta.titulo }}</mat-card-title>
    <mat-card-subtitle>{{ receta.tiempo }} min</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="'http://localhost:3000/' + receta.imagen" class="image-listing" alt="{{ receta.titulo }}">
  <mat-card-content>
    <p>{{ receta.descripcion }}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <!-- <button mat-icon-button (click)="toggleFavorite(receta)">
      <mat-icon>{{ receta.isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button> -->
    
    <button mat-icon-button  (click)="toggleFavorite(receta.id)">
      <mat-icon *ngIf="favorite$ | async; else unfavorite" style="color: red;">favorite</mat-icon>
      <ng-template #unfavorite><mat-icon style="color: red;">favorite_border</mat-icon></ng-template>
    </button>
  </mat-card-actions>
</mat-card>

</div>
